* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html {
    background: #FAF7F2;
    background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;

  }
body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* book title, description and controls  */
.book {
    justify-content: center;
    text-align: center;
}

  .book-title, .recipes-list-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
    text-align: center;
    margin-block-start: 0.67em;
  }

  .book-description {
    text-align: center;
    font-weight: 300;
    margin: 10px 0;
  }

  .book-controls {
    font-weight: 300;
    margin: 10px 0;
    text-align: center;
    padding-bottom: 30px;
  }

  
/* /recipes page with table of contents, links under table of contents and new recipe menu  */

.Recipes-Container {
    max-width: 80vw;
    margin: auto;
}


.table-of-contents {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 300;
    margin: 2px 0;
    text-align: center;
    
   
}

.recipes {
    margin: auto;
    max-width: 50%;
    padding: 30px 0px;   
    background: white;
    border: 2px solid rgba(0,0,0,0.15);
}

.recipes-links {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;

}

.recipe {
    max-width: 50%;
    margin: auto;
    padding: 30px 0px 50px 0px;  
    background-color: white;
    border: 2px solid rgba(0,0,0,0.15);
}

.recipe-body {
    max-width: 80%;
    margin: auto;
    background: #FAF7F2;
}

.recipe-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 300;
    margin: 2px 0;
    text-align: left;
    padding: 0px 40px 10px 40px;
    text-align: center;
    line-height: 40px;

}

.recipe-description {
    text-align: center;
    font-weight: 300;
    max-width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.recipe-controls {
    font-weight: 300;
    margin: 10px 0;
    text-align: center;
    padding-bottom: 20px;;
}

.recipe-info {
    
    border: 2px;
    border-radius: 2px;
    padding: 25px 30px 0px 30px;
    max-width: 100%;
   
}


h3.instructions, h3.ingredients {
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  
}

.cook-time {
  padding: 5px;
}

.recipe-instructions ul li {
  padding-top: 10px;
}

.recipe-instructions {
    clear: both;
    border-radius: 2px;
    padding: 0px 25px 25px 25px;
    
}


.recipe-card-container {
  margin: -10px 35px;
  position: relative;
}

.recipe-card-title {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18px;
    display: inline-block;
}

  .card-number {
    margin-top: 15px;
}
  
.card-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    line-height: 20px;
    font-size: 10px;
    height: 22px;
    text-align: center;
    width: 22px;
}


  /* list items  */
ul {
    list-style-type: none;
}



  /* links */
  a:link, a:visited, button {
    color: black;
    padding: 0px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    background-color: inherit;
    
  }
  
  a:hover, a:active, button:hover, button:active {
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }


/* forms  */

.Books-Input, .Recipes-Input {
    display: flex;
    
}

.Books-Input {
    height: 80vh;
    justify-content: center;
    align-items: center;   
}

.Recipes-Input {
    width: 50%;
    margin: auto;
    padding: 30px;
    background: white;
    border: 2px solid rgba(0,0,0,0.15);
}

form {
    margin:auto;
    width:400px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    
  }

  button[type=submit] {
    
    width: 100%;
    background-color: #FAF7F2;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .input-title {
      text-align: center;
      font-family: 'Cormorant Garamond', serif;
      font-size: 40px;
      line-height: 60px;
      font-weight: 400;
  }
/* 
  homepage */
  .Home {
      height: 80vh;
      position: relative;
  }

  .headline {
    width: 100%;
    text-align: center; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
   
  }

  .welcome-info {
    margin: 0;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    width: 100%;
    font-weight: 300;
    line-height: 22px;
    font-size: 22px;
  
  }

  /* images */
  
.recipe-info img {
    float: left;
    margin: 0px 30px 0px 0px;
    max-width: 60%;
    border: 20px ;
    border-radius: 2px;
    z-index: 4;
}

/* recipes list grid display */
.Recipes-List-Container {
  height: 80vh;
  padding: 70px
}

.recipes-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
    width: 80vw;
    margin: auto;
}

.recipe-grid-item {
    max-width: 391px;
    padding: 0 4px 4px 0; 
    position: relative;
    display: inline-grid;
   
}
a.recipes-list-link {
  padding: 0px 0px; 
  margin: 0px;
}

.recipe-grid-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}

img.grid-recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
 
}

.recipe-grid-title-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.recipe-grid-item:hover .grid-recipe-image {
  opacity: 0.3;
}

.recipe-grid-item:hover .recipe-grid-title-middle {
  opacity: 1;
}

.recipe-grid-name {
  background-color: black;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
}

/* books grid */

.books {
  height: 80vh;
  padding: 70px
}

.books-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
    width: 80vw;
    margin: auto;
}

.book-grid-item {
    display: inline-grid;
    border: 1px;
    border-radius: 2px;
    margin: 4px;
    padding: 30px;
    text-align: center;
    height: 400px;
    width: 300px;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}


.book-grid-item:hover {
  /* opacity: 0.3; */
  font-size: 150%
}

/* search field */
.search {
  width: 400px;
  height: 40px;
  margin: 40px auto;
  background: black;
  background: white;
  border-radius:  3px;
  border: 1px solid #fff;
}

input[type=search] {
  width: 275px;
  padding: 10px 5px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

input[type=search]:focus {
  outline: 0;
  background:transparent;
} 
  

button.search-btn{
  background-color: coral;
  color: white;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}

button.search-btn:hover {
  background-color: black;
}

button.search-btn:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}
  
button.search-btn:focus {
  outline: 0;
}
 
