* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html {
    background: #FAF7F2;
    background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;

  }
body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* book title, description and controls  */
.book {
    justify-content: center;
    text-align: center;
}

  .book-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
    text-align: center;
    margin-block-start: 0.67em;
  }

  .book-description {
    text-align: center;
    font-weight: 300;
    margin: 10px 0;
  }

  .book-controls {
    font-weight: 300;
    margin: 10px 0;
    text-align: center;
    padding-bottom: 30px;
  }

  
/* /recipes page with table of contents, links under table of contents and new recipe menu  */

.Recipes-Container {
    max-width: 80%;
    margin: auto;
}


.table-of-contents {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 0px;
    margin: 2px 0;
    text-align: center;
    padding: 30px;
   
}

.recipes {
    float: right;
    max-width: 50%;
    padding: 30px 0px;   
    background: white;
    border: 2px solid rgba(0,0,0,0.15);
}

.recipes-links {
  /* width: 90%;
  background-color: #FAF7F2; */
  padding: 20px;
  margin: auto;
  /* border: 2px solid rgba(0,0,0,0.15); */
}

.recipe {
    max-width: 50%;
    float: left;
    padding: 30px;  
    background-color: white;
    border: 2px solid rgba(0,0,0,0.15);
}

.recipe-body {
    max-width: 80%;
    margin: auto;
}

.recipe-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 0px;
    margin: 2px 0;
    text-align: left;
    padding: 30px;
    text-align: center;
    /* max-width: 600px; */
    word-wrap: break-word;
    overflow: auto;
}

.recipe-description {
    text-align: center;
    font-weight: 300;
    max-width: 70%;
    margin: auto;
}

.recipe-controls {
    font-weight: 300;
    margin: 10px 0;
    text-align: center;
}

.recipe-info {
    border: 2px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    padding: 25px;
    max-width: 200px;
    float: left;
    margin-bottom: 20px;
    background: #FAF7F2;
}

.recipe-instructions {
    border: 2px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    padding: 25px;
    clear: both;
    margin-top: 20px;
    background: #FAF7F2;
    max-width: 630px;
}

.recipe-instructions li {
    margin: 10px 0px;
}

.recipe-card-container {
  margin: -10px 35px;
  position: relative;
  /* width: 300px; */
}

.recipe-card-title {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18px;
    display: inline-block;
}

  .card-number {
    margin-top: 15px;
}
  
.card-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    line-height: 20px;
    font-size: 10px;
    height: 22px;
    text-align: center;
    width: 22px;
}


  /* list items  */
ul {
    list-style-type: none;
}

.instructions {
    margin: 10px;
}


.ingredients {
    margin: 10px;
}

  /* *, *:before, *:after {
    box-sizing: inherit;
  }

  
  .u-clearfix:before,
  .u-clearfix:after {
    content: " ";
    display: table;
  }
  
  .u-clearfix:after {
    clear: both;
  }
  
  .u-clearfix {
    *zoom: 1;
  }
  
  .subtle {
    color: #aaa;
  }
  
  
  
  .card {
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    z-index: 1;
  }
  
 
  
  /* .card-author {
    display: block;
    font-size: 12px;
    letter-spacing: .5px;
    margin: 15px 0 0;
    text-transform: uppercase;
  }
  
  .card-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
  } */
  

  /* .card-description {
    display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }
  
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
  
  .card-tag {
    float: right;
    margin: 5px 0 0;
  }
  
  .recipe-card-media {
    float: right;
    height: 200px;
  }
  
  .card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
  } */

  /* links */
  a:link, a:visited, button {
    color: black;
    padding: 0px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    background-color: inherit;
    
  }
  
  a:hover, a:active, button:hover, button:active {
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }


/* forms  */

.Books-Input, .Recipes-Input {
    display: flex;
    
}

.Recipes-Input {
    width: 60%;
    float: left;
    padding: 30px;
    background: white;
    border: 2px solid rgba(0,0,0,0.15);
}

form {
    margin:auto;
    width:400px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    
  }

  button[type=submit] {
    width: 100%;
    background-color: #FAF7F2;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .input-title {
      text-align: center;
      font-family: 'Cormorant Garamond', serif;
      font-size: 40px;
      line-height: 60px;
      font-weight: 400;
  }
/* 
  homepage */
  .Home {
      width: 100%;
      text-align: center;
      margin: auto;
  }
  .headline {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: auto;
  }

  .welcome-info {
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }

  /* images */
  
img {
    float: left;
    margin: 0px 30px 30px 0px;
    max-width: 60%;
    border: 2px solid rgba(0,0,0,0.15);
    border-radius: 2px;
}

/* recipes list grid display */
.recipes-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    width: 70%;
    margin: auto;
}

.recipe-grid-item {
    display: inline-grid;
}


  